.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="checkbox"]
  display: inline-block
  width: 250px
  height: 40px
  color: $white
  text-align: center
  font-size: 13px
  font-weight: bold
  text-decoration: none
  white-space: nowrap
  background-color: $greenTitle
  border-style: none
  border-radius: 4px
  cursor: pointer
  box-sizing: border-box
  transition: all 0.2s ease

  &:hover,
  &:active,
  &:focus
    opacity: 0.9
    outline: 0
    transform: scale(1.01)
    transform: translateY(3px)
