::selection
  background: rgba(24,187,128,0.10)

::-moz-selection
  background: rgba(24,187,128,0.10)

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: transparent
