//	Headings
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap')

.modal
  font-family: 'Oxygen', sans-serif
  font-style: normal
  text-align: left
  color: $greyText

h1, .main-title
  font-size: 24px
  line-height: 50px
  font-weight: 400

h2
  font-size: 16px
  line-height: 24px
  font-weight: bold

h3
  font-size: 13px
  line-height: 20px
  font-weight: bold

.invoice-text
  font-size: 6px
  line-height: 10px
  margin: 0
