.modal
  width: 1000px
  height: 685px
  background: $white
  border-radius: 4px
  box-shadow: 0px 0px 30px #00000080
  display: flex
  flex-direction: column

.progression-bar
  display: flex
  height: 50px
  background-color: $black

.modal-content
  display: flex
  justify-content: space-between
  height: 635px

.modal-form
  padding: 10px 40px

.invoice-section
  width: 325px
  background-image: url('/assets/img/Background.svg')
  background-size: covers
  position: relative
  overflow: hidden

.paper, .factura, .plant, .invoice-header
  position: absolute

.paper
  z-index: 0
  top: 30px
  left: 70px

.factura
  z-index: 1
  top: 10px
  left: 90px

.plant
  z-index: 2
  bottom: -60px
  left: -60px

.invoice-header
  z-index: 3
  top: 50px
  left: 130px

.pais-section, .nif-section
  padding: 20px 0px

.nif-input
  display: flex
  padding: 10px 0px
  margin-right: 10px

.nif-checkmark
  display: flex
  align-items: center
  margin: 0px 10px
  p
    margin: 0px 5px

input
  border: 1px solid $grey
  border-radius: 4px
  width: 300px
  height: 40px
  padding: 10px
